<div class="card bg-primary">
  <div class="card-body">
    <h1>Get about.hbs file from views/ folder here </h1>
    <h5 class="card-title text-center text-success">Notes Cards</h5>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur rerum sunt suscipit molestias nam at, tenetur cupiditate fuga ratione veniam adipisci ab fugiat expedita eaque voluptatem laborum dolores ipsa natus.</p>

  </div>
</div>