<h1>Get index.hbs file from views/ folder here </h1>

<h2>Bootstrap Jumbotron</h2>

<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App with Nodejs and MonoDB</h1>
    
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas magnam sint excepturi accusantium eum veritatis! Aliquid consequatur tempora molestias laborum sunt, facere, fuga officia cum velit obcaecati quidem sint aliquam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nisi at quas animi nemo tenetur, officia asperiores repudiandae fugit culpa a tempore aspernatur porro laudantium, blanditiis est delectus ullam. Commodi.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="http://google.de" role="button">Google</a>
    </p>
</div>